@use '../abstracts/' as *;

.card-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    

}

.card {
    &:not(:last-child) {
        margin-block-end: 3.5rem;
    }

    &__content {
        display: grid;
        place-items: center;

        margin-block-start: 32px;

        & > img {
            padding: 0.9375rem;
            background-color: clr(primary, theLightblue);
            border-radius: 50% 25% 35% 25%;
        }
    }

    &__title {
        color: clr(secondary, thewhite);
        font-weight: $fw-xbold;
        font-size: fs(400);

        margin-block-start: size(32);
        margin-block-end: size(12);
    }

    &__paragraph {
        line-height: 1.5625rem;
    }
}

@include mq(45em) {

    .wrapper[data-width='tablet'] {
        --gap: 12.25rem;
        --max-width:45em;
        
    }

    .card {
        &__content {
            grid-template-columns: auto 1fr;
            
        }

        &__text {
            justify-self: start;
            max-width: 21.25rem;
            text-align: left;
            margin-inline-start: 3.4375rem;
        }

        &__title {
            margin-block-start: 0;
        }

        &:nth-child(odd) {
            
            margin-inline-start: size(40);
        }
    }

}

@include mq(65em) {

    .wrapper {
        --gap:330px;
        --max-width: 65em;
    }

    .card-container {
 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }

  

    .card {

        // &-1 {
        //     grid-area: indulge;
        //     grid-column: 1 / 2;
        // }

        // &-2 {
        //     grid-area: gain;
        //     grid-column: 2 / 3;
        // }

        // &-3 {
        //     grid-area: choose;
        //     grid-column: 3 / 4;
        // }

        // &-4 {
        //     grid-area: work;
        //     grid-column: 4 / 5;
        // }
       
        &__content {
            
            display: flex;
            flex-direction: column;
            // grid-template-columns: repeat(1, 1fr);
            place-items:start;
            // margin-block-start: 0;

            // & > img {
            //     background-color:blue ;
            // }
            
            
        }

        &__text {
            margin-inline-start: 0;
        }

        &__title {
            font-size: fs(400);
            width: max-content;
            margin-block-start: size(40);
            margin-block-end: 23px;
        }

        &__paragraph {
           width: 30ch;
        }

        &:nth-child( 2n ) {
          
            margin-inline-start: 0;
            margin-block-start: 3.5rem;
            

        }

     

     
    }
  
        
    
   
}