@use '../abstracts/' as *;

.card-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    

}

.card {
    &:not(:last-child) {
        margin-block-end: 3.5rem;
    }

    &__content {
        display: grid;
        place-items: center;

        margin-block-start: 32px;

        & > img {
            padding: 0.9375rem;
            background-color: clr(primary, theLightblue);
            border-radius: 50% 25% 35% 25%;
        }
    }

    &__title {
        color: clr(secondary, thewhite);
        font-weight: $fw-xbold;
        font-size: fs(400);

        margin-block-start: size(32);
        margin-block-end: size(12);
    }

    &__paragraph {
        line-height: 1.5625rem;
    }
}

@include mq(45em) {

    .wrapper[data-width='tablet'] {
        --gap: 12.25rem;
        --max-width:45em;
        
    }

    .card {
        &__content {
            grid-template-columns: auto 1fr;
            
        }

        &__text {
            justify-self: start;
            max-width: 340px;
            text-align: left;
            margin-inline-start: 3.4375rem;
        }

        &__title {
            margin-block-start: 0;
        }

        &:nth-child(odd) {
            
            margin-inline-start: size(40);
        }
    }

}