@use '../abstracts/' as *;

.footer {
    padding-block-end: 150px;

    &__wrapper {
        position: relative;
    }


    &__text {
        margin-block-end: 31px;

        &::after {
            position: absolute;
            content: '';
            width:584px;
            height: 80px;
            background-image: url(../../assets/bg-footer-squiggle.svg);
            background-size: cover;
            inset:0; 
      
        }
    }

    &__title {
        text-align: center;
        font-weight: $fw-xbold;
        font-size: fs(450);
        line-height: 1.5;
        
        span {
            display: block;
        }
    }

    .boton-area {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & > .boton {
            border: 0;
            padding: 1em 1.5em;
            border-radius: 15px;
            flex: 1 1 100%;
            
        }
       
        
     

        & > * + * {
            margin-block-start: 24px;
        }
    }

}

// .boton-area button:nth-type(1)  {
//     background-color: red;
// }

.boton-area > * {
    background-color: clr(secondary, weirdblue);
    font-weight: $fw-xbold;
    color: clr(primary, theLightblue);

    &:hover {
        background-color: clr(primary, theDarkblue);
        border: 3px solid clr(primary, theLightblue);
        color: clr(secondary, thewhite);
    }
}



.boton-area:has(button) button:nth-of-type(1) {
    background-color: clr(primary, theLightblue);
    color: clr(secondary, thewhite);


   
}


@include mq(45em) {

    // .wrapper[data-width='tablet'] {
    //     --gap: 12.25rem;
    //     --max-width:45em;
    //     background-color: red;
    // }

    .footer {

        .boton-area {
            
         
            flex-direction: row;
            align-items:baseline;
            gap: 0.625rem;
            
            &:has(button) button:nth-of-type(2) {
                flex: 0 2 100%;
               
            }

            &:has(button) button:nth-of-type(1) {
                display: flex;
            }
        }
    }

}

@include mq(65rem) {
    
   
    .footer {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            min-width:100%;
            
            height: 800px;
            background-image: url(../../assets/bg-footer-squiggle.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 100%;
            // inset:0; 
            left: 0;
            right: 0;


        }
        

        &__title {
            font-size: fs(500);

            span {
                display: inline-block;
            }
        }

        &__text {
            margin-block-end: 31px;
            
    
         &::after {
            display: none;
         }
        }

    }
}
